@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Validation.Models.Product
<script src="~/wwwroot/jquery/jquery.min.js"></script>
<script src="~/wwwroot/jquery-validate/jquery.validate.min.js"></script>
<script src="~/wwwroot/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


<div asp-validation-summary="All">

</div>
<form asp-action="CreateProduct" asp-controller="Product" method="post">
    <input type="text" asp-for="ProductName" placeholder="Product Name" />
    <span asp-validation-for="ProductName"></span> 
    <br />
    <input type="number" asp-for="Quantity" placeholder="Quantity" />
    <span asp-validation-for="Quantity"></span> 
    <br />
    <input type="email" asp-for="Email" placeholder="Email" />
    <span asp-validation-for="Email"></span> <br />
    <button>Send</button>

</form>
