@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ModelBinding.Models.Product

@* 
<form asp-action= "CreateProduct" asp-controller="Product" method="post">
    <input type="text" asp-for="ProductName" placeholder="ProductName" />
    <br />
    <input type="number" asp-for="Quantity" placeholder="Quantity" />
    <br />
    <button>Add Product</button>
</form>
 *@
 <form asp-action="CatchData" asp-controller="Product" method="post">
     <input asp-for="ProductName" type="text"/><br/>
     <input asp-for="Quantity" type="text"/><br/>
     <button>Send</button>
 
 </form>
 <a asp-action="Index" asp-controller="Home" asp-route-a="Alperen" asp-route-b="Gunes" asp-route-id="123" asp-route-x="asdksdsgjslkh">content</a>
@*https://localhost:44317/Home/Index/Alperen/Gunes/123?x=asdksdsgjslkh*@