@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ModelBinding.Models.Product


<form asp-action= "CreateProduct" asp-controller="Product" method="post">
    <input type="text" asp-for="ProductName" placeholder="ProductName" />
    <br />
    <input type="number" asp-for="Quantity" placeholder="Quantity" />
    <br />
    <button>Add Product</button>
</form>
