@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<form asp-action= "CreateProduct" asp-controller="Product" method="post">
    <input type="text" name="txtProductName" placeholder="ProductName" />
    <br />
    <input type="number" name="txtQuantity" placeholder="Quantity" />
    <br />
    <button>Add Product</button>
</form>
