
<nav>
    <ul>
        <li><a href="@Url.Action("Index", "Home")">Ana Sayfa</a></li>
        <li><a href="@Url.Action("Page1", "Home")">Page 1</a></li>
        <li><a href="@Url.Action("Page2", "Home")">Page 2</a></li>
    </ul>
</nav>