@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
this is page 2

@section AdditionalContent {
    <ul>
        <li>Ad 1</li>
        <li>Ad 2</li>
        <li>Ad 3</li>
        <li>Ad 4</li>
    </ul>
}